In [1]:
import pymysql
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [2]:
# db 연동
# member_mate
# conn = pymysql.connect(
#     user='my_srv',              # 유저 이름
#     passwd='wkrldi@duqhdi12',   # 패스워드
#     host='125.141.223.156',     # 호스트
#     db='m_yeoboya_ai_dv',             # 데이터베이스
#     charset='utf8',             # 인코딩
#     port=33141                  # 포트 번호(''없이 사용)
# )


# cursor = conn.cursor(pymysql.cursors.DictCursor)
# sql = "show tables from m_yeoboya_ai_dv" 
# cursor.execute(sql)
# result = cursor.fetchall()
# cursor.close()
# t = pd.DataFrame(result) # 데이터 프레임으로 변환환
# t.head(3)

In [3]:
# for c in t['Tables_in_m_yeoboya_ai_dv'] :
#     if 'nb' in c :
#         print(c)

In [4]:
conn = pymysql.connect(
    user='my_srv',              # 유저 이름
    passwd='wkrldi@duqhdi12',   # 패스워드
    host='125.141.223.156',     # 호스트
    db='m_yeoboya_ai_dv',             # 데이터베이스
    charset='utf8',             # 인코딩
    port=33141                  # 포트 번호(''없이 사용)
)


cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from nb_my_pf_view_all_log" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
view_df = pd.DataFrame(result) # 데이터 프레임으로 변환환
view_df.head(3)

,auto_no,mem_no,mem_sex,ptr_mem_no,ptr_mem_sex,open_slct,open_date,open_type,item_cnt,item_mem_cnt,item_gift_cnt,ins_date
0,2,1784567,m,1814251,f,v,2022-03-31 16:53:05.815376,0,0,0,0,2022-03-31 16:53:05.815376
1,4,1784567,m,1654979,f,v,2022-03-31 16:53:30.213585,0,0,0,0,2022-03-31 16:53:30.213585
2,6,1784567,m,1654979,f,v,2022-03-31 16:55:55.695902,0,0,0,0,2022-03-31 16:55:55.695902

In [5]:
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from nb_member_basic" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
basic_df = pd.DataFrame(result) # 데이터 프레임으로 변환환
basic_df.head(3)

,mem_no,mem_id,mem_passwd,mem_passwd_v1,mem_passwd_v2,passwd_tmp_yn,mem_nick,mem_nick_yn,mem_sex,mem_birth_year,...,join_cnt,tot_stay_time,mate_reg_yn,mem_slct,smtp_slct,smtp_id,app_ver,phone_ver,mem_chnl,upd_date
0,1817293,KA_0001817293@yeoboya.com,,,,n,,y,m,1986,...,0,218,n,b,b,663F42B7-E3FB-4269-807A-2DC70DB60999,6.6.93,15.3.1,501,2022-04-04 11:05:17
1,1697184,qwef18@qwef18.com,,,,n,,y,m,1990,...,0,58124,n,b,a,c4dbbf7c4a27e962,1.5.292,12,501,2022-04-01 19:20:13
2,316646,mygod76@naver.com,,,,n,,y,m,1976,...,0,1918,n,b,a,5864a4699d021d53,1.5.308,12,501,2022-05-14 09:41:14

In [6]:
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from nb_member_mate" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
mate_df = pd.DataFrame(result) # 데이터 프레임으로 변환환
mate_df.head(3)

,mem_no,mem_sex,mem_loc,mem_l_code,mem_birth_year,mem_birth_month,mem_birth_day,mem_birth_slct,mem_birth_ddi,mate_nick,...,reject_hist_no,reject_hist_yn,mem_slct,login_media,list_prt_yn,upd_cnt,conts_upd_cnt,family_conts_upd_cnt,ins_date,upd_date
0,1690114,f,b,b11,1975,7,13,s,7,내짝지님,...,0,n,o,s,n,0,0,0,2022-04-08 17:47:26.931093,2022-04-28 13:10:13.055956
1,1046726,m,k,k06,1975,2,3,s,7,도란도란,...,0,n,b,s,n,0,0,0,2022-04-26 19:12:42.845100,2022-05-09 14:05:28.482280
2,1495084,m,b,b13,1989,7,29,s,9,구미복숭아젤링,...,0,n,o,s,n,0,0,0,2022-04-03 20:45:30.778936,2022-04-05 13:12:48.796060

In [7]:
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from nb_member_msg_log_back" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
msg_df = pd.DataFrame(result) # 데이터 프레임으로 변환환
msg_df.head(3)

,auto_no,mem_no,mem_sex,mem_birth_year,mate_slct,login_media,mem_slct,ptr_mem_no,ptr_mem_sex,ptr_mem_birth_year,ptr_mate_slct,ptr_login_media,read_yn,msg_type,msg_slct,msg_cont,msg_etc,file_name,file_size,ins_date
0,2,1814251,f,1994,w,s,b,1814299,m,1995,w,,n,1,0,찬호씨안녕하세요,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",,,2022-03-31 17:12:46
1,4,1814251,f,1994,w,s,b,1814299,m,1995,w,,n,1,0,저는누구일까요,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",,,2022-03-31 17:12:49
2,6,1027872,f,1993,w,s,b,1814299,m,1995,w,,n,1,2,사진,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",1027872_2022033117162001820.jpg|800|530,800|530,2022-03-31 17:16:20

In [8]:
print(len(view_df))
print(len(mate_df))
print(len(msg_df))

7205
433
2248

---

In [9]:
view_df.drop_duplicates(inplace=True, subset=['mem_no','ptr_mem_no'])

view_df = view_df[view_df['mem_no'].isin(mate_df['mem_no'].values)]
view_df = view_df[view_df['ptr_mem_no'].isin(mate_df['mem_no'].values)]

view_df.reset_index(drop=True,inplace=True)

In [10]:
msg_df.drop_duplicates(inplace=True, subset=['mem_no','ptr_mem_no'])

msg_df = msg_df[msg_df['mem_no'].isin(mate_df['mem_no'].values)]
msg_df = msg_df[msg_df['ptr_mem_no'].isin(mate_df['mem_no'].values)]

msg_df.reset_index(drop=True,inplace=True)

In [11]:
from datetime import datetime
# age 연산
mate_df['age'] = int(str(datetime.today())[:4]) - mate_df['mem_birth_year']
df = mate_df[['mem_no','mem_sex','age']]

In [12]:
# x가 열람한 회원 리스트
df['view_list'] = None
for i in range(len(df)) :
    view_list = view_df[view_df['mem_no']==df.loc[i, 'mem_no']]['ptr_mem_no'].values.tolist()
    df.loc[i, 'view_list'] = [[view_list]]

In [13]:
df['view_list'] = df['view_list'].apply(lambda x : x[0])
df['view_count'] = df['view_list'].apply(lambda x : len(x)) # 총 열람 횟수

In [14]:
# x를 열람한 회원 리스트
df['viewed_list'] = None
for i in tqdm(range(len(df))) :
    viewed_list = view_df[view_df['ptr_mem_no']==df.loc[i, 'mem_no']]['mem_no'].values.tolist()
    df.loc[i, 'viewed_list'] = [[viewed_list]]

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 433/433 [00:00<00:00, 1262.08it/s]

In [15]:
df['viewed_list'] = df['viewed_list'].apply(lambda x : x[0])
df['viewed_count'] = df['viewed_list'].apply(lambda x : len(x))

In [16]:
# 메시지 발신 회원 리스트
df['send_list'] = None
for i in tqdm(range(len(df))) :
    send_list = msg_df[msg_df['mem_no']==df.loc[i, 'mem_no']]['ptr_mem_no'].values.tolist()
    df.loc[i, 'send_list'] = [[send_list]]

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 433/433 [00:00<00:00, 1387.09it/s]

In [17]:
# 메시지 수신 회원 리스트
df['sent_list'] = None
for i in tqdm(range(len(df))) :
    sent_list = msg_df[msg_df['ptr_mem_no']==df.loc[i, 'mem_no']]['mem_no'].values.tolist()
    df.loc[i, 'sent_list'] = [[sent_list]]

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 433/433 [00:00<00:00, 1292.14it/s]

In [18]:
df['send_list'] = df['send_list'].apply(lambda x : x[0])
df['sent_list'] = df['sent_list'].apply(lambda x : x[0])
df['send_count'] = df['send_list'].apply(lambda x : len(x)) # 총 발신 수 
df['sent_count'] = df['sent_list'].apply(lambda x : len(x)) # 총 수신 수
df.head(3)

,mem_no,mem_sex,age,view_list,view_count,viewed_list,viewed_count,send_list,sent_list,send_count,sent_count
0,1690114,f,47,"[1834157, 1814490, 1782006, 1790807, 1752219, ...",6,"[1782006, 5, 400778, 1814490]",4,[],[],0,0
1,1046726,m,47,[],0,[],0,[],[],0,0
2,1495084,m,33,[1817403],1,"[1742714, 1817403, 1596208]",3,[],[],0,0

In [19]:
len(df[(df['send_count']>0) & (df['sent_count']>0)])

19

In [20]:
def get_cf_score(x, y) :
    sent_to_x = df[df['mem_no']==x].sent_list.values[0]    
    sent_to_y = df[df['mem_no']==y].sent_list.values[0]
    score_x_y, score_y_x = 0, 0
    for u in sent_to_y :
        try :
            u_refrom = df[df['mem_no']==u].send_list.values[0]
            x_refrom = df[df['mem_no']==x].send_list.values[0]
            intersection = list(set(u_refrom) & set(x_refrom))
            union = list(set(u_refrom) | set(x_refrom))
            if len(intersection) == 0 :
                continue
            score_x_y += len(intersection) / len(union)
        except :
            pass
        
    for v in sent_to_x :
        try :
            v_refrom = df[df['mem_no']==v].send_list.values[0]
            y_refrom = df[df['mem_no']==y].send_list.values[0]
            intersection = list(set(v_refrom) & set(y_refrom))
            union = list(set(v_refrom) | set(y_refrom))
            if len(intersection) == 0 :
                continue
            score_y_x += len(intersection) / len(union)
        except Exception as e :
            pass
#     print(score_x_y, score_y_x)
    
    if score_x_y > 0 and score_y_x > 0 :    
        harmonic_mean_score = (2 * score_x_y * score_y_x) / (score_x_y + score_y_x)
    else :
        harmonic_mean_score = 0
        
    return harmonic_mean_score

In [21]:
# get reciprocal_CF_Score
def get_top_k(x, top_k=1) :
    
    # 나이 제한 +- 5 이내에서만 검색
    x_age = df[df['mem_no']==x].age.values[0]
    x_gender = df[df['mem_no']==x].mem_sex.values[0]
    # recommendation candidate y range(age +- 5)
    y_range = df[(abs(x_age - df['age']) <= 5) & (df['mem_sex']!=x_gender)].mem_no.values
    
    # x에게 메시지 보낸 회원 SentTo_x
    sent_to_x = df[df['mem_no']==x].sent_list.values[0]
    # 추천 리스트[(회원번호, 점수)] 초기화
    score_list = list()
    
    print(f'my_candidate_num : {len(y_range)}') # 총 후보 수(연산 대상)
    
    for y in y_range : # 추천 후보 집단(RecommendationCandidates)의 모든 y에 대하여 반복 수행
        sent_to_y = df[df['mem_no']==y].sent_list.values[0] 
        # calculate score x_y
        score_x_y = 0 # score_x_y 초기화
        for u in sent_to_y : # y에게 메시지를 보낸 유저 집단 u에 대하여 반복 수행
            try :
                u_refrom = df[df['mem_no']==u].send_list.values[0] # u가 메시지를 보낸 유저 집합 
                x_refrom = df[df['mem_no']==x].send_list.values[0] # x가 메시지를 보낸 유저 집단
                intersection = list(set(u_refrom) & set(x_refrom)) # ReFrom_u ∩ ReFrom_x
                union = list(set(u_refrom) | set(x_refrom)) # ReFrom_u ∪ ReFrom_x
                
                if len(intersection) == 0 : # avoid zero division
                    continue
                score_x_y += len(intersection) / len(union)    # score_x_y <--- score_x_y + similarity_x_u
            except :
                pass
        score_y_x = 0 # score_y_x 초기화
        for v in sent_to_x : # x에게 메시지를 보낸 유저 집단 v에 대하여 반복 수행
            try :
                v_refrom = df[df['mem_no']==v].send_list.values[0] # v가 메시지를 보낸 유저 집합 
                y_refrom = df[df['mem_no']==y].send_list.values[0] # y가 메시지를 보낸 유저 집단
                intersection = list(set(v_refrom) & set(y_refrom)) # ReFrom_v ∩ ReFrom_y
                union = list(set(v_refrom) | set(y_refrom)) # ReFrom_v ∪ ReFrom_y
                
                if len(intersection) == 0 : # avoid zero division
                    continue
                score_y_x += len(intersection) / len(union) # score_y_x <--- score_y_x + similarity_y_v
            except :
                pass
            
        # calculate harmonic mean
        if score_x_y != 0 and score_y_x != 0 :    
            harmonic_mean_score = (2 * score_x_y * score_y_x) / (score_x_y + score_y_x)
        else :
            harmonic_mean_score = 0
        score_list.append((y, harmonic_mean_score)) # Recs <--- (y, reciprocalScore_x,y)
    
    top_k = sorted(score_list, key=lambda x : -x[1])[:top_k]
    
    return top_k # sort score and return top-k

In [22]:
x, y = 1697955, 1735184

get_top_k(x)

my_candidate_num : 114

[(1284280, 1.6)]

In [23]:
temp = pd.merge(df[['mem_no','mem_sex','age','view_count','viewed_count','send_count','sent_count']], basic_df[['mem_no','login_cnt', 'tot_stay_time']])
info = pd.merge(temp, mate_df[['mem_no','photo_cnt', 'upd_cnt']])
info.head()

,mem_no,mem_sex,age,view_count,viewed_count,send_count,sent_count,login_cnt,tot_stay_time,photo_cnt,upd_cnt
0,1690114,f,47,6,4,0,0,0,9298,5,0
1,1046726,m,47,0,0,0,0,0,4873,3,0
2,1495084,m,33,1,3,0,0,0,2340,3,0
3,316646,m,46,0,0,0,0,0,1918,3,0
4,1817403,f,27,22,34,2,2,0,1446745,4,0

In [24]:
import joblib
model = joblib.load('./predpr.pkl')

In [25]:
import numpy as np
def pred_positive_reply(x, y) :
    x_info = info[info['mem_no']==x]
    y_info = info[info['mem_no']==y]
    if info[info['mem_no']==x].mem_sex.values[0] == 'f' :
        x_info.columns = ['ptr_' + c for c in x_info.columns]
    else :
        y_info.columns = ['ptr_' + c for c in y_info.columns]
    x_y_info = pd.concat([y_info.reset_index(drop=True), x_info.reset_index(drop=True)],axis=1)
    x_y_info.drop(['mem_no','ptr_mem_no','mem_sex','ptr_mem_sex'], axis=1, inplace=True)
    x_y_info['age_gap'] = x_y_info['age'] - x_y_info['ptr_age']
    pred = model.predict_proba(x_y_info)[0]
    idx = np.argmax(pred)
    return idx, pred[idx]

In [26]:
x, y = 1690114, 1046726
pred_positive_reply(x, y)

(1, 0.8060487032165817)

In [27]:
mate_df.columns

Index(['mem_no', 'mem_sex', 'mem_loc', 'mem_l_code', 'mem_birth_year',
       'mem_birth_month', 'mem_birth_day', 'mem_birth_slct', 'mem_birth_ddi',
       'mate_nick', 'mate_nick_yn', 'mate_slct', 'mate_slct_yn', 'mate_name',
       'mate_conts', 'family_conts', 'parents_slct', 'brothers_sisters',
       'rprsn_photo_no', 'rprsn_photo_yn', 'rprsn_photo_date', 'rprsn_photo',
       'rprsn_chrgr_name', 'photo_cnt', 'photo_cert_cnt', 'mate_auth_slct',
       'mate_auth_yn', 'mate_certifi_yn', 'mate_job_cert_yn', 'mate_job',
       'mate_job_detail', 'mate_salary_cert_yn', 'mate_salary',
       'mate_property_cert_yn', 'mate_property', 'mate_car_cert_yn',
       'mate_car', 'mate_career_cert_yn', 'mate_school', 'mate_major',
       'mate_height', 'mate_weight', 'mate_blood', 'mate_religion',
       'mate_style', 'mate_charc', 'mate_hobby', 'htown_loc', 'htown_l_code',
       'housing_type', 'wish_loc', 'wish_l_code', 'wish_charc', 'wish_hobby',
       'child_m', 'child_f', 'divorce_year', 'child_raise', 'smoke_slct',
       'drink_slct', 'health_slct', 'childbirth_slct_1', 'childbirth_slct_2',
       'mate_open_hphone', 'mate_open_hphone_yn', 'mate_open_data',
       'mate_open_data_yn', 'mate_cnnct_open_slct', 'mate_cnnct_open_data',
       'mate_cert_cnt', 'mate_cert_yn', 'mate_cert_date',
       'mate_cert_chrgr_name', 'reject_info', 'reject_reason', 'reject_date',
       'reject_chrgr_name', 'reject_cnt', 'reject_hist_no', 'reject_hist_yn',
       'mem_slct', 'login_media', 'list_prt_yn', 'upd_cnt', 'conts_upd_cnt',
       'family_conts_upd_cnt', 'ins_date', 'upd_date', 'age'],
      dtype='object')

In [28]:
corr_df = mate_df[['mem_no', 'mem_sex', 'mem_loc', 'mate_religion', 'mate_car', 'mate_job', 'mate_salary',
       'mate_style', 'mate_charc', 'mate_hobby', 'mate_property',
        'smoke_slct', 'drink_slct','health_slct', 'mate_height', 'mate_slct']]

In [29]:
bins = [0, 150, 160, 170, 180, 200]
corr_df['mate_height'] = pd.cut(corr_df['mate_height'], bins=bins, labels=['under_150', '150', '160', '170', 'over_180'])

In [30]:
from collections import Counter
Counter(corr_df['mate_height'])

Counter({'150': 44, '170': 209, '160': 150, 'over_180': 30})

In [31]:
hobby_type = {'type_1': [11, 12, 18, 40, 41, 42, 43, 44],
              'type_2': [8, 15, 16, 19],
              'type_3': [1, 3, 4, 6, 13, 14, 21, 24, 25, 26, 27, 30, 32, 33, 34, 35, 39],
              'type_4': [5, 7, 17, 28, 29]}

male_char_type = {'type_1': [3, 5, 9, 13],
                  'type_2': [1, 10, 11, 17, 19],
                  'type_3': [4, 6, 8],
                  'type_4': [2, 12, 14, 15, 16, 18]}

female_char_type = {'type_1': [1, 10, 11, 17, 19],
                    'type_2': [1, 2, 11, 12, 20, 22],
                    'type_3': [4, 5, 7, 14, 9],
                    'type_4': [16, 17, 18, 19, 21, 13]}

drink_key = {'a' : 0 ,'b' : 1, 'c' : 2, 'd' : 3}
health_key = {'a' : 0, 'b' : 1, 'c' : 2, 'd' : 3}
salary_key = {1 : 1,2 : 1,3: 1,4 : 2,5: 2,6 : 3,7 : 3,8 : 3, 9 : 3,10 : 4, 13 : 5, 14 : 6,15 : 7,16 :7, 17:7, 12 : 1}
possess_key = {'b' : 1, 'c' : 1, 'd' : 1, 'e' : 2, 'f' : 3, 'g' : 4, 'h' : 5 ,'m' : 6, 'i' : 7,'j' : 7, 'k' : 7, 'l' : 7, 'n' : 7}
job_key = {1: 'c', 2: 'c', 3: 'l', 4: 'l', 5: 'n', 6: 'i', 7: 'i', 8: 'i', 9: 'j', 10: 'd', 11: 'k', 12: 'k', 13: 'n',
            14: 'h', 15: 'h', 16: 'a', 17: 'a', 18: 'g', 19: 'b', 20: 'm', 21: 'o', 22: 'f', 23: 'k', 24: 'n', 25: 'e',
            26: 'e', 27: 'n', 28: 'e', 29: 'e', 0: 'e', 30: 'o', 31: 'o', 32: 'o', 33: 'j', 34: 'o', 35: 'l', 36: 'l',
            37: 'j', 38: 'n', 39: 'j', 40: 'j', 41: 'j', 42: 'j', 43: 'n', 44: 'k', 45: 'k', 46: 'c', 47: 'j', 48: 'b',
            49: 'h', 50: 'c', 51: 'c', 52: 'c', 53: 'j', 54: 'j', 55: 'j', 56: 'j', 57: 'k', 58: 'j', 59: 'i', 60: 'i',
            61: 'i', 62: 'i', 63: 'i', 64: 'i', 65: 'i', 66: 'i', 67: 'i', 68: 'g', 69: 'g', 70: 'k', 71: 'k', 72: 'h',
            73: 'g', 74: 'h', 75: 'h', 76: 'h', 77: 'h', 78: 'h', 79: 'h', 80: 'g', 81: 'a', 82: 'a', 83: 'i', 84: 'i',
            85: 'i', 86: 'a', 87: 'n', 88: 'i', 89: 'i', 90: 'i', 91: 'i', 92: 'n', 93: 'b', 94: 'b', 95: 'b', 96: 'm',
            97: 'n', 98: 'f', 99: 'f', 100: 'f', 101: 'f', 102: 'a', 103: 'f'}


def detect_type(type_li, a_type):
    for i in type_li:
        if i in a_type:
            return 1
    else:
        return 0

def drink_code(drink) :
    result = 0
    if len(str(drink)) == 0 :
        return result
    
    if str(drink)[0].isalpha() and str(drink)[0] in drink_key.keys() :
        result = drink_key[str(drink)[0]]
    return result

def health_code(health) :
    result = 0
    if len(str(health)) == 0 :
        return result
    
    if str(health)[0].isalpha() and str(health)[0] in health_key.keys() :
        result = health_key[str(health)[0]]
    return result

def religion_code(x) :
    if str(x).isdecimal() :
        if int(x) == 5 :
            return str(0)
        elif int(x) != 2 and int(x) != 1 :
            return str(3)
        else :
            return str(x)
    else :
        return str(0)

def job_code(my_job):
    if str(my_job).isnumeric() and int(my_job) in job_key.keys():
        result = job_key[int(my_job)]
    else:
        result = job_key[1]
    return result

def salary_code(sal) :
    if str(sal).isdecimal() and int(sal) in salary_key.keys() :
        result = salary_key[int(sal)]
    else :
        result = 1
    return result

def pos_code(pos) :
    if str(pos).isalpha() and pos in possess_key.keys() :
        result = possess_key[pos]
    else :
        result = 1
    return result

def style_code(style, sex) :
    if style.isdecimal() :
        if sex == 'm' and style in style_m_key.keys() :
            return str(style)
        elif sex == 'f' and style in style_f_key.keys() :
            return str(style)
        else :
            return '1'
    else :
        return '1'

In [32]:
corr_df['drink_slct'] = corr_df['drink_slct'].apply(drink_code)
corr_df['smoke_slct'] = corr_df['smoke_slct'].apply(lambda x : 1 if len(str(x)) > 0 and str(x)[0] == 'c' else 0)
corr_df['health_slct'] = corr_df['health_slct'].apply(health_code)

In [33]:
def char_transform(df):
    df['mate_charc'] = df['mate_charc'].apply(lambda x: [int(x) for x in x.split(',') if x.isdecimal()])
    for i in range(1, 5) :
        df['char_type_'+str(i)] = df.apply(lambda x : detect_type(globals()['female_char_type']['type_'+str(i)],x['mate_charc']) if x['mem_sex'] == 'f' else detect_type(globals()['male_char_type']['type_'+str(i)], x['mate_charc']), axis=1)
    return df

corr_df = char_transform(corr_df)

In [34]:
def hobby_transform(df) :
    df['mate_hobby'] = df['mate_hobby'].apply(lambda x: [int(i) for i in str(x).split(',') if i.isdecimal()])
    for i in range(1, 5) :
        df['hobby_type_'+str(i)] = df['mate_hobby'].apply(lambda x : detect_type(globals()['hobby_type']['type_'+str(i)], x))
    return df

corr_df = hobby_transform(corr_df)

In [35]:
corr_df['mate_style'].apply(lambda x : x.split('|'))
for i in range(len(corr_df)) :
    style_list = corr_df.loc[i, 'mate_style']
    for idx in style_list : 
        corr_df.loc[i, 'style_type_' + str(idx)] = 1
# corr_df.head()

In [36]:
for i in range(0, 14) :
    try :
        corr_df['style_type_' + str(i)].fillna(0, inplace=True)
    except :
        pass
# corr_df.head()

In [37]:
corr_df.columns

Index(['mem_no', 'mem_sex', 'mem_loc', 'mate_religion', 'mate_car', 'mate_job',
       'mate_salary', 'mate_style', 'mate_charc', 'mate_hobby',
       'mate_property', 'smoke_slct', 'drink_slct', 'health_slct',
       'mate_height', 'mate_slct', 'char_type_1', 'char_type_2', 'char_type_3',
       'char_type_4', 'hobby_type_1', 'hobby_type_2', 'hobby_type_3',
       'hobby_type_4', 'style_type_3', 'style_type_|', 'style_type_9',
       'style_type_1', 'style_type_0', 'style_type_5', 'style_type_6',
       'style_type_4', 'style_type_7', 'style_type_2', 'style_type_8'],
      dtype='object')

In [38]:
del corr_df['mem_sex'], corr_df['mate_charc'], corr_df['mate_hobby'], corr_df['mate_style']

In [39]:
corr_df['mate_religion'] = corr_df['mate_religion'].apply(religion_code)
corr_df['mate_job'] = corr_df['mate_job'].apply(job_code)
corr_df['mate_car'] = corr_df['mate_car'].apply(lambda x: 0 if x == 9 else 1)
corr_df['mate_salary'] = corr_df['mate_salary'].apply(salary_code)
corr_df['mate_property'] = corr_df['mate_property'].apply(pos_code)

In [40]:
1809416

1809416

In [41]:
def get_explanation(x, y, k=3) :
    view_list = df[df['mem_no']==x].view_list.values[0]
    send_list = df[df['mem_no']==x].send_list.values[0]
    # m_x
    m_x = [1 if i in send_list else 0 for i in view_list]
    a_v_df = pd.DataFrame([m_x], columns=view_list, index=[x]).T
    
    # S_x_a_v
    for col in corr_df.columns[1:] :
        s_x_a_v = [corr_df[corr_df['mem_no']==y][col].values[0] for y in a_v_df.index]
        a_v_df[col] = s_x_a_v
        
    a_v_df = pd.get_dummies(a_v_df)
    
    
    y_a_v = pd.get_dummies(corr_df[corr_df['mem_no']==y])
    
    for y_col in y_a_v.columns :
#         print(y_col)
        if y_col in a_v_df.columns and y_a_v[y_col].values[0] != 1 :
            a_v_df.drop(y_col, inplace=True, axis=1)
#             print(f'{y_col} removed')
    a_v_df.drop([c for c in a_v_df.columns if c not in y_a_v.columns and c != x], axis=1, inplace=True)
#     a_v_df.dropna(inplace=True)
    
    result = a_v_df.corr()[x].sort_values(ascending=False)
    
    print(f'Highest correlation features for {x} : {[result.index[1]]}, correlation value : {result.values[1]}')
    return result.index[1:k+1].tolist()

In [42]:
x, y = 1697955, 1735184
get_explanation(x, y)

Highest correlation features for 1697955 : ['style_type_2'], correlation value : 0.25607625569924175

['style_type_2', 'style_type_1', 'mate_car']

In [43]:
def get_reciprocal_explanation(x, y, k=1) :
    e_x_r = get_explanation(x, y, k=3)
    e_y_r = get_explanation(y, x, k=3)
    
    re_x_y = f'''{x}에게 {y}가 잘 어울리는 이유 : {e_x_r} //// {y}에게 {x}가 잘 어울리는 이유 : {e_y_r}'''
    
    return re_x_y

In [44]:
get_reciprocal_explanation(x, y)

Highest correlation features for 1697955 : ['style_type_2'], correlation value : 0.25607625569924175
Highest correlation features for 1735184 : ['mate_car'], correlation value : nan

"1697955에게 1735184가 잘 어울리는 이유 : ['style_type_2', 'style_type_1', 'mate_car'] //// 1735184에게 1697955가 잘 어울리는 이유 : ['mate_car', 'mate_salary', 'mate_property']"

In [45]:
def find_optimal_weight(x) :
    send_list = df[df['mem_no']==x]['send_list'].values[0]
    sent_list = df[df['mem_no']==x]['sent_list'].values[0]
    
    SuccInter_x = [i for i in send_list if i in sent_list] # SuccInter_x
    V_x = send_list # V_x
    
    weights = [0.2, 0.3, 0.4, 0.5, 0.6, 0.7]
    results = []
    for a in weights :
        score_list = []
        for y in V_x :
            if y not in df.mem_no.values :
                continue
            reciprocal_score = (get_cf_score(x, y) * a) + (pred_positive_reply(x, y)[1] * (1 - a))
            score_list.append((y, reciprocal_score))
            
        rank = sorted(score_list, key=lambda x : -x[1])[:len(SuccInter_x)]
        rank_succ = [r[0] for r in rank if r[0] in SuccInter_x] # hit pred succ = real succ

        hit_rate = len(rank_succ) / len(SuccInter_x)
        
        if hit_rate == 1 : # return weight a with highest hit rate 
            print(f'found optimal weight : {a}')
            return a
        else :
            results.append(hit_rate)
    
    else :
        opt_idx = np.argmax(results)
        print(f'found optimal weight : {weights[opt_index]}')
        return weights[opt_idx]

x = 1697955
find_optimal_weight(x)

found optimal weight : 0.2

0.2

In [46]:
import time

In [51]:
def get_reciprocal_score(x, a=0.3978, k=1) :
    reciprocal_score = []
    
    # 1. get CF score
    cf_time = time.time()
    cf_score = get_top_k(x, top_k=5)
    print(f'** CF score run time : {time.time() - cf_time:.3f}')
    
    # 2. get PR score
    pr_time = time.time()
    for y, cf_score in cf_score :
        pr_score = pred_positive_reply(x, y)[1]
        weighted_score = (cf_score * a) + (pr_score * (1- a)) # add weight(alpha)
        reciprocal_score.append((y, weighted_score))
    print(reciprocal_score)
    print(f'** PR score run time : {time.time() - pr_time:.3f}')
    
    # get Reciprocal Score
    top_k = sorted(reciprocal_score, key=lambda x : -x[1])
    print('candidate list :',top_k[:10])
    
    # get reciprocal explanation for x, y(candidate)
    explain_time = time.time()
    explanations = []
    for i in range(k) :
        y = top_k[i][0]
        explanations.append(get_reciprocal_explanation(x, y, k=3))
    print(f'** Reciprocal Explain run time : {time.time() - explain_time:.3f}')
    return top_k[:k], explanations

def get_reciprocal_recommendation(x) :
    a = find_optimal_weight(x)
    rec, explanation = get_reciprocal_score(x, a)
    return rec, explanation

In [52]:
get_reciprocal_recommendation(x)

found optimal weight : 0.2
my_candidate_num : 114
** CF score run time : 0.325
[(1284280, 0.94471858170516), (1832848, 0.8526108472175091), (1834157, 0.8602410662866973), (1046726, 0.6610757980267312), (316646, 0.6093199270596963)]
** PR score run time : 0.029
candidate list : [(1284280, 0.94471858170516), (1834157, 0.8602410662866973), (1832848, 0.8526108472175091), (1046726, 0.6610757980267312), (316646, 0.6093199270596963)]
Highest correlation features for 1697955 : ['mate_job_b'], correlation value : 0.5555555555555556
Highest correlation features for 1284280 : ['style_type_3'], correlation value : 0.6123724356957945
** Reciprocal Explain run time : 0.588

([(1284280, 0.94471858170516)],
 ["1697955에게 1284280가 잘 어울리는 이유 : ['mate_job_b', 'mem_loc_i', 'style_type_2'] //// 1284280에게 1697955가 잘 어울리는 이유 : ['style_type_3', 'style_type_9', 'mate_job_i']"])