In [91]:
import pymysql
import pandas as pd

# db 연동
conn = pymysql.connect(
    user='my_srv',              # 유저 이름
    passwd='wkrldi@duqhdi12',   # 패스워드
    host='125.141.223.156',     # 호스트
    db='m_yeoboya_ai_dv',             # 데이터베이스
    charset='utf8',             # 인코딩
    port=33141                  # 포트 번호(''없이 사용)
)

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "show tables from m_yeoboya" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
tables = pd.DataFrame(result) # 데이터 프레임으로 변환환
tables

        Tables_in_m_yeoboya
0          adm_item_buy_log
1      adm_item_buy_mem_day
2   ai_mytype_score_hit_log
3   ai_mytype_score_mem_log
4            chrgr_mem_list
5       evt_thanks_bbs_exit
6         item_use_list_log
7      item_use_list_log_v1
8          login_log_202201
9          login_log_202202
10         login_log_202203
11         login_log_202204
12         login_log_202205
13        mem_item_use_hist
14        mem_visit_mem_log
15             member_basic
16        member_basic_exit
17             member_concn
18        member_concn_hist
19              member_mate
20         member_mate_exit
21           member_msg_log
22      member_msg_log_back
23           member_msg_mem
24     member_msg_mem_badge
25   member_pf_view_all_log
26      member_pf_view_stat
27     payment_mem_20220209
28     payment_mem_20220210
29             payment_succ

In [90]:
import pymysql
import pandas as pd

# db 연동
conn = pymysql.connect(
    user='my_srv',              # 유저 이름
    passwd='wkrldi@duqhdi12',   # 패스워드
    host='125.141.223.156',     # 호스트
    db='m_yeoboya_ai_dv',             # 데이터베이스
    charset='utf8',             # 인코딩
    port=33141                  # 포트 번호(''없이 사용)
)

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "show tables from m_yeoboya_ai_dv" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
tables = pd.DataFrame(result) # 데이터 프레임으로 변환환
tables

    Tables_in_m_yeoboya_ai_dv
0                     a_debug
1                   adm_inqry
2        adm_item_buy_mem_day
3                 adm_mem_rpt
4                 adm_msg_rpt
..                        ...
312           photo_album_del
313       plus_call_photo_del
314         pm_chat_photo_del
315       video_meet_room_log
316       voice_meet_room_log

[317 rows x 1 columns]

In [2]:
tables[tables['Tables_in_m_yeoboya_ai_dv'].str.contains('nb_member_mate')]

                 Tables_in_m_yeoboya_ai_dv
192                         nb_member_mate
193                   nb_member_mate_album
194              nb_member_mate_album_cert
195              nb_member_mate_album_exit
196             nb_member_mate_album_inact
197               nb_member_mate_album_log
198               nb_member_mate_album_old
199          nb_member_mate_album_rest_del
200              nb_member_mate_album_stat
201                    nb_member_mate_cert
202                nb_member_mate_cert_log
203               nb_member_mate_cert_tmp2
204          nb_member_mate_chrgr_upd_chng
205              nb_member_mate_conts_hist
206                     nb_member_mate_del
207                 nb_member_mate_del_log
208            nb_member_mate_detail_photo
209       nb_member_mate_detail_photo_cert
210   nb_member_mate_detail_photo_cert_cnt
211  nb_member_mate_detail_photo_cert_push
212       nb_member_mate_detail_photo_exit
213      nb_member_mate_detail_photo_inact
214       nb_member_mate_detail_photo_modi
215   nb_member_mate_detail_photo_rest_del
216       nb_member_mate_detail_photo_view
217                    nb_member_mate_exit
218                   nb_member_mate_inact
219               nb_member_mate_inact_tmp
220                    nb_member_mate_iven
221           nb_member_mate_last_upd_stat
222                nb_member_mate_loc_stat
223               nb_member_mate_photo_del
224       nb_member_mate_profile_ins_stats
225                nb_member_mate_push_chk
226           nb_member_mate_push_data_log
227                nb_member_mate_push_day
228                nb_member_mate_rest_del
229               nb_member_mate_spec_data
230          nb_member_mate_spec_data_cert
231     nb_member_mate_spec_data_cert_push
232      nb_member_mate_spec_data_encoding
233         nb_member_mate_spec_data_inact
234      nb_member_mate_spec_data_rest_del
235          nb_member_mate_spec_data_view
236                    nb_member_mate_stat
237                   nb_member_mate_state
238                     nb_member_mate_upd
239            nb_member_mate_upd_day_stat

In [3]:
# db 연동
conn = pymysql.connect(
    user='my_srv',              # 유저 이름
    passwd='wkrldi@duqhdi12',   # 패스워드
    host='125.141.223.156',     # 호스트
    db='m_yeoboya_ai_dv',             # 데이터베이스
    charset='utf8',             # 인코딩
    port=33141                  # 포트 번호(''없이 사용)
)

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from m_yeoboya_ai_dv.nb_you_pf_view_all_log" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
pf_view_df = pd.DataFrame(result) # 데이터 프레임으로 변환환
pf_view_df.head()

,auto_no,mem_no,mem_sex,ptr_mem_no,ptr_mem_sex,open_slct,open_date,open_type,item_cnt,item_mem_cnt,item_gift_cnt,ins_date
0,2,1814251,f,1784567,m,v,2022-03-31 16:53:05.815376,0,0,0,0,2022-03-31 16:53:05.815376
1,4,1654979,f,1784567,m,v,2022-03-31 16:53:30.213585,0,0,0,0,2022-03-31 16:53:30.213585
2,6,1654979,f,1784567,m,v,2022-03-31 16:55:55.695902,0,0,0,0,2022-03-31 16:55:55.695902
3,8,1654979,f,1784567,m,v,2022-03-31 17:01:34.179022,0,0,0,0,2022-03-31 17:01:34.179022
4,10,1654979,f,1784567,m,v,2022-03-31 17:01:41.735770,0,0,0,0,2022-03-31 17:01:41.735770

In [4]:
conn = pymysql.connect(
    user='my_srv',              # 유저 이름
    passwd='wkrldi@duqhdi12',   # 패스워드
    host='125.141.223.156',     # 호스트
    db='m_yeoboya_ai_dv',             # 데이터베이스
    charset='utf8',             # 인코딩
    port=33141                  # 포트 번호(''없이 사용)
)

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from m_yeoboya_ai_dv.nb_member_msg_mem_hist" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
msg_df = pd.DataFrame(result) # 데이터 프레임으로 변환환
msg_df.head()

,mem_no,ptr_mem_no,last_msg_type,last_msg_slct,last_msg_cont,last_msg_etc,last_msg_date,noread_cnt,media_noread_cnt,msg_cnt,favor_yn
0,1814299,1814251,0,0,d,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",2022-04-01 15:54:45,5,0,13,n
1,1814251,1814299,1,0,d,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",2022-04-01 15:54:45,8,0,13,n
2,1814299,1027872,1,0,test,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",2022-04-01 10:11:07,5,0,8,n
3,1027872,1814299,0,0,test,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",2022-04-01 10:11:07,3,0,8,n
4,1700284,1814245,1,2,사진,"{""mediaFileName"":"""",""mediaPlayTime"":"""",""mediaP...",2022-03-31 17:29:24,4,0,5,n

In [51]:
len(msg_df)

138

In [5]:
# db 연동
conn = pymysql.connect(
    user='my_srv',              # 유저 이름
    passwd='wkrldi@duqhdi12',   # 패스워드
    host='125.141.223.156',     # 호스트
    db='m_yeoboya_ai_dv',             # 데이터베이스
    charset='utf8',             # 인코딩
    port=33141                  # 포트 번호(''없이 사용)
)

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from m_yeoboya_ai_dv.nb_member_mate" 
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
mate_df = pd.DataFrame(result) # 데이터 프레임으로 변환환
mate_df.head()

,mem_no,mem_sex,mem_loc,mem_l_code,mem_birth_year,mem_birth_month,mem_birth_day,mem_birth_slct,mem_birth_ddi,mate_nick,...,reject_hist_no,reject_hist_yn,mem_slct,login_media,list_prt_yn,upd_cnt,conts_upd_cnt,family_conts_upd_cnt,ins_date,upd_date
0,1690114,f,b,b11,1975,7,13,s,7,내짝지님,...,0,n,o,s,n,0,0,0,2022-04-08 17:47:26.931093,2022-04-28 13:10:13.055956
1,1046726,m,k,k06,1975,2,3,s,7,도란도란,...,0,n,b,s,n,0,0,0,2022-04-26 19:12:42.845100,2022-05-09 14:05:28.482280
2,1495084,m,b,b13,1989,7,29,s,9,구미복숭아젤링,...,0,n,o,s,n,0,0,0,2022-04-03 20:45:30.778936,2022-04-05 13:12:48.796060
3,316646,m,e,e01,1976,10,28,s,8,봄꽃돌이,...,0,n,b,s,n,0,0,0,2022-03-31 15:12:07.802051,2022-03-31 15:12:07.802051
4,1817403,f,h,h16,1995,1,1,s,3,에이비씨디이에프,...,41,y,b,s,n,0,0,0,2022-04-04 14:04:30.741009,2022-05-10 16:06:21.549608

In [6]:
from datetime import datetime
str(datetime.today())[:4]

'2022'

In [7]:
property_df = mate_df.copy() # 나이
property_df['age'] = int(str(datetime.today())[:4]) - property_df['mem_birth_year'] 
property_df['age'].describe()

count    433.000000
mean      42.997691
std        9.066753
min       24.000000
25%       37.000000
50%       42.000000
75%       49.000000
max      102.000000
Name: age, dtype: float64

In [8]:
# salary 특성
property_df['mate_salary'].unique()

array([ 3,  4,  2,  1, 11,  6,  7,  9,  0,  8,  5, 10, 12], dtype=int64)

In [9]:
# loc 특성
property_df['mem_loc'].unique()

array(['b', 'k', 'e', 'h', 'i', 'p', 'd', 'f', 'g', 'c', 'j', 'a', 'o',
       'l', 'z', 'n', 'm'], dtype=object)

In [10]:
property_df = property_df[['mem_no', 'mem_sex', 'age', 'mem_loc' , 'mate_salary']]
property_df.head()

    mem_no mem_sex  age mem_loc  mate_salary
0  1690114       f   47       b            3
1  1046726       m   47       k            4
2  1495084       m   33       b            2
3   316646       m   46       e            1
4  1817403       f   27       h           11

---

In [11]:
pf_view_df.drop_duplicates(subset=['mem_no','ptr_mem_no'], inplace=True)
pf_view_df = pf_view_df[pf_view_df['mem_no'].isin(property_df.mem_no.values)]
pf_view_df = pf_view_df[pf_view_df['ptr_mem_no'].isin(property_df.mem_no.values)]
pf_view_df.reset_index(drop=True, inplace=True)

## 1. CF score 계산

In [12]:
property_df['view_list'] = None
for i in range(len(property_df)) :
    view_list = pf_view_df[pf_view_df['mem_no']==property_df.loc[i, 'mem_no']]['ptr_mem_no'].values.tolist()
#     print(f'{i}번째 회원 열람수 : {len(view_list)}')
    property_df.loc[i, 'view_list'] = [[view_list]]
property_df.head()

0번째 회원 열람수 : 4
1번째 회원 열람수 : 0
2번째 회원 열람수 : 3
3번째 회원 열람수 : 0
4번째 회원 열람수 : 34
5번째 회원 열람수 : 3
6번째 회원 열람수 : 14
7번째 회원 열람수 : 4
8번째 회원 열람수 : 0
9번째 회원 열람수 : 0
10번째 회원 열람수 : 11
11번째 회원 열람수 : 3
12번째 회원 열람수 : 6
13번째 회원 열람수 : 0
14번째 회원 열람수 : 0
15번째 회원 열람수 : 0
16번째 회원 열람수 : 8
17번째 회원 열람수 : 2
18번째 회원 열람수 : 0
19번째 회원 열람수 : 0
20번째 회원 열람수 : 0
21번째 회원 열람수 : 0
22번째 회원 열람수 : 2
23번째 회원 열람수 : 0
24번째 회원 열람수 : 5
25번째 회원 열람수 : 9
26번째 회원 열람수 : 14
27번째 회원 열람수 : 1
28번째 회원 열람수 : 6
29번째 회원 열람수 : 0
30번째 회원 열람수 : 21
31번째 회원 열람수 : 4
32번째 회원 열람수 : 8
33번째 회원 열람수 : 10
34번째 회원 열람수 : 4
35번째 회원 열람수 : 19
36번째 회원 열람수 : 2
37번째 회원 열람수 : 0
38번째 회원 열람수 : 6
39번째 회원 열람수 : 0
40번째 회원 열람수 : 0
41번째 회원 열람수 : 7
42번째 회원 열람수 : 0
43번째 회원 열람수 : 5
44번째 회원 열람수 : 0
45번째 회원 열람수 : 9
46번째 회원 열람수 : 0
47번째 회원 열람수 : 0
48번째 회원 열람수 : 0
49번째 회원 열람수 : 3
50번째 회원 열람수 : 3
51번째 회원 열람수 : 4
52번째 회원 열람수 : 9
53번째 회원 열람수 : 6
54번째 회원 열람수 : 0
55번째 회원 열람수 : 13
56번째 회원 열람수 : 0
57번째 회원 열람수 : 0
58번째 회원 열람수 : 28
59번째 회원 열람수 : 0
60번째 회원 열람수 : 21
61번째 회원 열람수 : 2
62번째 회원 열람수 : 4
63번째 회원 열람수 : 4
64번째 회원 열람수 : 8
65번째 회원 열람수 : 2
66번째 회원 열람수 : 0
67번째 회원 열람수 : 0
68번째 회원 열람수 : 3
69번째 회원 열람수 : 0
70번째 회원 열람수 : 1
71번째 회원 열람수 : 12
72번째 회원 열람수 : 41
73번째 회원 열람수 : 0
74번째 회원 열람수 : 5
75번째 회원 열람수 : 13
76번째 회원 열람수 : 39
77번째 회원 열람수 : 0
78번째 회원 열람수 : 0
79번째 회원 열람수 : 5
80번째 회원 열람수 : 0
81번째 회원 열람수 : 14
82번째 회원 열람수 : 0
83번째 회원 열람수 : 0
84번째 회원 열람수 : 2
85번째 회원 열람수 : 3
86번째 회원 열람수 : 0
87번째 회원 열람수 : 0
88번째 회원 열람수 : 0
89번째 회원 열람수 : 0
90번째 회원 열람수 : 0
91번째 회원 열람수 : 6
92번째 회원 열람수 : 3
93번째 회원 열람수 : 0
94번째 회원 열람수 : 39
95번째 회원 열람수 : 11
96번째 회원 열람수 : 13
97번째 회원 열람수 : 0
98번째 회원 열람수 : 5
99번째 회원 열람수 : 17
100번째 회원 열람수 : 3
101번째 회원 열람수 : 0
102번째 회원 열람수 : 3
103번째 회원 열람수 : 2
104번째 회원 열람수 : 0
105번째 회원 열람수 : 9
106번째 회원 열람수 : 0
107번째 회원 열람수 : 0
108번째 회원 열람수 : 0
109번째 회원 열람수 : 0
110번째 회원 열람수 : 0
111번째 회원 열람수 : 0
112번째 회원 열람수 : 0
113번째 회원 열람수 : 0
114번째 회원 열람수 : 20
115번째 회원 열람수 : 0
116번째 회원 열람수 : 11
117번째 회원 열람수 : 0
118번째 회원 열람수 : 8
119번째 회원 열람수 : 0
120번째 회원 열람수 : 6
121번째 회원 열람수 : 4
122번째 회원 열람수 : 0
123번째 회원 열람수 : 4
124번째 회원 열람수 : 0
125번째 회원 열람수 : 3
126번째 회원 열람수 : 0
127번째 회원 열람수 : 0
128번째 회원 열람수 : 10
129번째 회원 열람수 : 2
130번째 회원 열람수 : 0
131번째 회원 열람수 : 0
132번째 회원 열람수 : 5
133번째 회원 열람수 : 0
134번째 회원 열람수 : 4
135번째 회원 열람수 : 0
136번째 회원 열람수 : 0
137번째 회원 열람수 : 0
138번째 회원 열람수 : 0
139번째 회원 열람수 : 0
140번째 회원 열람수 : 34
141번째 회원 열람수 : 0
142번째 회원 열람수 : 2
143번째 회원 열람수 : 0
144번째 회원 열람수 : 0
145번째 회원 열람수 : 2
146번째 회원 열람수 : 0
147번째 회원 열람수 : 0
148번째 회원 열람수 : 11
149번째 회원 열람수 : 0
150번째 회원 열람수 : 0
151번째 회원 열람수 : 0
152번째 회원 열람수 : 0
153번째 회원 열람수 : 2
154번째 회원 열람수 : 0
155번째 회원 열람수 : 2
156번째 회원 열람수 : 1
157번째 회원 열람수 : 9
158번째 회원 열람수 : 6
159번째 회원 열람수 : 14
160번째 회원 열람수 : 0
161번째 회원 열람수 : 16
162번째 회원 열람수 : 2
163번째 회원 열람수 : 6
164번째 회원 열람수 : 7
165번째 회원 열람수 : 1
166번째 회원 열람수 : 7
167번째 회원 열람수 : 0
168번째 회원 열람수 : 3
169번째 회원 열람수 : 0
170번째 회원 열람수 : 0
171번째 회원 열람수 : 0
172번째 회원 열람수 : 0
173번째 회원 열람수 : 5
174번째 회원 열람수 : 6
175번째 회원 열람수 : 7
176번째 회원 열람수 : 3
177번째 회원 열람수 : 0
178번째 회원 열람수 : 0
179번째 회원 열람수 : 0
180번째 회원 열람수 : 11
181번째 회원 열람수 : 3
182번째 회원 열람수 : 0
183번째 회원 열람수 : 11
184번째 회원 열람수 : 11
185번째 회원 열람수 : 0
186번째 회원 열람수 : 1
187번째 회원 열람수 : 0
188번째 회원 열람수 : 0
189번째 회원 열람수 : 7
190번째 회원 열람수 : 0
191번째 회원 열람수 : 7
192번째 회원 열람수 : 0
193번째 회원 열람수 : 0
194번째 회원 열람수 : 0
195번째 회원 열람수 : 0
196번째 회원 열람수 : 0
197번째 회원 열람수 : 0
198번째 회원 열람수 : 7
199번째 회원 열람수 : 4
200번째 회원 열람수 : 3
201번째 회원 열람수 : 0
202번째 회원 열람수 : 12
203번째 회원 열람수 : 6
204번째 회원 열람수 : 0
205번째 회원 열람수 : 0
206번째 회원 열람수 : 0
207번째 회원 열람수 : 16
208번째 회원 열람수 : 0
209번째 회원 열람수 : 0
210번째 회원 열람수 : 0
211번째 회원 열람수 : 8
212번째 회원 열람수 : 0
213번째 회원 열람수 : 0
214번째 회원 열람수 : 6
215번째 회원 열람수 : 7
216번째 회원 열람수 : 4
217번째 회원 열람수 : 2
218번째 회원 열람수 : 12
219번째 회원 열람수 : 0
220번째 회원 열람수 : 0
221번째 회원 열람수 : 0
222번째 회원 열람수 : 0
223번째 회원 열람수 : 0
224번째 회원 열람수 : 5
225번째 회원 열람수 : 0
226번째 회원 열람수 : 11
227번째 회원 열람수 : 0
228번째 회원 열람수 : 6
229번째 회원 열람수 : 4
230번째 회원 열람수 : 0
231번째 회원 열람수 : 0
232번째 회원 열람수 : 0
233번째 회원 열람수 : 5
234번째 회원 열람수 : 6
235번째 회원 열람수 : 12
236번째 회원 열람수 : 7
237번째 회원 열람수 : 3
238번째 회원 열람수 : 0
239번째 회원 열람수 : 3
240번째 회원 열람수 : 1
241번째 회원 열람수 : 9
242번째 회원 열람수 : 0
243번째 회원 열람수 : 13
244번째 회원 열람수 : 5
245번째 회원 열람수 : 0
246번째 회원 열람수 : 0
247번째 회원 열람수 : 0
248번째 회원 열람수 : 0
249번째 회원 열람수 : 2
250번째 회원 열람수 : 0
251번째 회원 열람수 : 0
252번째 회원 열람수 : 0
253번째 회원 열람수 : 8
254번째 회원 열람수 : 2
255번째 회원 열람수 : 10
256번째 회원 열람수 : 2
257번째 회원 열람수 : 0
258번째 회원 열람수 : 15
259번째 회원 열람수 : 0
260번째 회원 열람수 : 6
261번째 회원 열람수 : 11
262번째 회원 열람수 : 18
263번째 회원 열람수 : 0
264번째 회원 열람수 : 4
265번째 회원 열람수 : 0
266번째 회원 열람수 : 3
267번째 회원 열람수 : 11
268번째 회원 열람수 : 10
269번째 회원 열람수 : 0
270번째 회원 열람수 : 5
271번째 회원 열람수 : 0
272번째 회원 열람수 : 3
273번째 회원 열람수 : 9
274번째 회원 열람수 : 0
275번째 회원 열람수 : 0
276번째 회원 열람수 : 0
277번째 회원 열람수 : 0
278번째 회원 열람수 : 10
279번째 회원 열람수 : 0
280번째 회원 열람수 : 0
281번째 회원 열람수 : 3
282번째 회원 열람수 : 0
283번째 회원 열람수 : 18
284번째 회원 열람수 : 0
285번째 회원 열람수 : 0
286번째 회원 열람수 : 4
287번째 회원 열람수 : 5
288번째 회원 열람수 : 5
289번째 회원 열람수 : 0
290번째 회원 열람수 : 0
291번째 회원 열람수 : 21
292번째 회원 열람수 : 0
293번째 회원 열람수 : 0
294번째 회원 열람수 : 0
295번째 회원 열람수 : 0
296번째 회원 열람수 : 0
297번째 회원 열람수 : 0
298번째 회원 열람수 : 0
299번째 회원 열람수 : 1
300번째 회원 열람수 : 2
301번째 회원 열람수 : 0
302번째 회원 열람수 : 0
303번째 회원 열람수 : 0
304번째 회원 열람수 : 0
305번째 회원 열람수 : 4
306번째 회원 열람수 : 0
307번째 회원 열람수 : 0
308번째 회원 열람수 : 0
309번째 회원 열람수 : 0
310번째 회원 열람수 : 8
311번째 회원 열람수 : 0
312번째 회원 열람수 : 0
313번째 회원 열람수 : 0
314번째 회원 열람수 : 0
315번째 회원 열람수 : 0
316번째 회원 열람수 : 5
317번째 회원 열람수 : 0
318번째 회원 열람수 : 0
319번째 회원 열람수 : 0
320번째 회원 열람수 : 0
321번째 회원 열람수 : 0
322번째 회원 열람수 : 0
323번째 회원 열람수 : 2
324번째 회원 열람수 : 0
325번째 회원 열람수 : 0
326번째 회원 열람수 : 0
327번째 회원 열람수 : 4
328번째 회원 열람수 : 0
329번째 회원 열람수 : 0
330번째 회원 열람수 : 0
331번째 회원 열람수 : 0
332번째 회원 열람수 : 0
333번째 회원 열람수 : 0
334번째 회원 열람수 : 0
335번째 회원 열람수 : 0
336번째 회원 열람수 : 0
337번째 회원 열람수 : 0
338번째 회원 열람수 : 0
339번째 회원 열람수 : 0
340번째 회원 열람수 : 0
341번째 회원 열람수 : 0
342번째 회원 열람수 : 0
343번째 회원 열람수 : 0
344번째 회원 열람수 : 0
345번째 회원 열람수 : 0
346번째 회원 열람수 : 0
347번째 회원 열람수 : 0
348번째 회원 열람수 : 0
349번째 회원 열람수 : 0
350번째 회원 열람수 : 0
351번째 회원 열람수 : 0
352번째 회원 열람수 : 0
353번째 회원 열람수 : 0
354번째 회원 열람수 : 0
355번째 회원 열람수 : 0
356번째 회원 열람수 : 0
357번째 회원 열람수 : 0
358번째 회원 열람수 : 0
359번째 회원 열람수 : 0
360번째 회원 열람수 : 0
361번째 회원 열람수 : 0
362번째 회원 열람수 : 0
363번째 회원 열람수 : 0
364번째 회원 열람수 : 0
365번째 회원 열람수 : 0
366번째 회원 열람수 : 0
367번째 회원 열람수 : 0
368번째 회원 열람수 : 0
369번째 회원 열람수 : 0
370번째 회원 열람수 : 0
371번째 회원 열람수 : 0
372번째 회원 열람수 : 0
373번째 회원 열람수 : 0
374번째 회원 열람수 : 0
375번째 회원 열람수 : 0
376번째 회원 열람수 : 0
377번째 회원 열람수 : 0
378번째 회원 열람수 : 0
379번째 회원 열람수 : 0
380번째 회원 열람수 : 0
381번째 회원 열람수 : 0
382번째 회원 열람수 : 0
383번째 회원 열람수 : 0
384번째 회원 열람수 : 0
385번째 회원 열람수 : 0
386번째 회원 열람수 : 0
387번째 회원 열람수 : 0
388번째 회원 열람수 : 0
389번째 회원 열람수 : 0
390번째 회원 열람수 : 0
391번째 회원 열람수 : 0
392번째 회원 열람수 : 0
393번째 회원 열람수 : 0
394번째 회원 열람수 : 0
395번째 회원 열람수 : 0
396번째 회원 열람수 : 0
397번째 회원 열람수 : 0
398번째 회원 열람수 : 0
399번째 회원 열람수 : 0
400번째 회원 열람수 : 0
401번째 회원 열람수 : 0
402번째 회원 열람수 : 0
403번째 회원 열람수 : 0
404번째 회원 열람수 : 0
405번째 회원 열람수 : 0
406번째 회원 열람수 : 0
407번째 회원 열람수 : 0
408번째 회원 열람수 : 0
409번째 회원 열람수 : 0
410번째 회원 열람수 : 0
411번째 회원 열람수 : 0
412번째 회원 열람수 : 0
413번째 회원 열람수 : 0
414번째 회원 열람수 : 0
415번째 회원 열람수 : 0
416번째 회원 열람수 : 0
417번째 회원 열람수 : 0
418번째 회원 열람수 : 0
419번째 회원 열람수 : 0
420번째 회원 열람수 : 0
421번째 회원 열람수 : 0
422번째 회원 열람수 : 0
423번째 회원 열람수 : 0
424번째 회원 열람수 : 0
425번째 회원 열람수 : 0
426번째 회원 열람수 : 0
427번째 회원 열람수 : 0
428번째 회원 열람수 : 0
429번째 회원 열람수 : 0
430번째 회원 열람수 : 0
431번째 회원 열람수 : 0
432번째 회원 열람수 : 0

,mem_no,mem_sex,age,mem_loc,mate_salary,view_list
0,1690114,f,47,b,3,"[[1782006, 5, 400778, 1814490]]"
1,1046726,m,47,k,4,[[]]
2,1495084,m,33,b,2,"[[1742714, 1817403, 1596208]]"
3,316646,m,46,e,1,[[]]
4,1817403,f,27,h,11,"[[1055783, 1814702, 1797227, 643005, 1812143, ..."

In [13]:
property_df['view_list'] = property_df['view_list'].apply(lambda x : x[0])
property_df['view_count'] =  property_df['view_list'].apply(lambda x : len(x))
property_df.head()

,mem_no,mem_sex,age,mem_loc,mate_salary,view_list,view_count
0,1690114,f,47,b,3,"[1782006, 5, 400778, 1814490]",4
1,1046726,m,47,k,4,[],0
2,1495084,m,33,b,2,"[1742714, 1817403, 1596208]",3
3,316646,m,46,e,1,[],0
4,1817403,f,27,h,11,"[1055783, 1814702, 1797227, 643005, 1812143, 1...",34

In [14]:
property_df['viewed_list'] = None
for i in range(len(property_df)) :
    view_list = pf_view_df[pf_view_df['ptr_mem_no']==property_df.loc[i, 'mem_no']]['mem_no'].values.tolist()
#     print(f'{i}번째 회원이 열람된 수 : {len(view_list)}')
    property_df.loc[i, 'viewed_list'] = [[view_list]]
property_df.head()

0번째 회원이 열람된 수 : 6
1번째 회원이 열람된 수 : 0
2번째 회원이 열람된 수 : 1
3번째 회원이 열람된 수 : 0
4번째 회원이 열람된 수 : 22
5번째 회원이 열람된 수 : 0
6번째 회원이 열람된 수 : 11
7번째 회원이 열람된 수 : 5
8번째 회원이 열람된 수 : 0
9번째 회원이 열람된 수 : 0
10번째 회원이 열람된 수 : 8
11번째 회원이 열람된 수 : 3
12번째 회원이 열람된 수 : 2
13번째 회원이 열람된 수 : 0
14번째 회원이 열람된 수 : 0
15번째 회원이 열람된 수 : 0
16번째 회원이 열람된 수 : 2
17번째 회원이 열람된 수 : 49
18번째 회원이 열람된 수 : 0
19번째 회원이 열람된 수 : 2
20번째 회원이 열람된 수 : 0
21번째 회원이 열람된 수 : 0
22번째 회원이 열람된 수 : 0
23번째 회원이 열람된 수 : 0
24번째 회원이 열람된 수 : 3
25번째 회원이 열람된 수 : 28
26번째 회원이 열람된 수 : 5
27번째 회원이 열람된 수 : 2
28번째 회원이 열람된 수 : 5
29번째 회원이 열람된 수 : 0
30번째 회원이 열람된 수 : 26
31번째 회원이 열람된 수 : 2
32번째 회원이 열람된 수 : 4
33번째 회원이 열람된 수 : 4
34번째 회원이 열람된 수 : 2
35번째 회원이 열람된 수 : 6
36번째 회원이 열람된 수 : 2
37번째 회원이 열람된 수 : 0
38번째 회원이 열람된 수 : 4
39번째 회원이 열람된 수 : 0
40번째 회원이 열람된 수 : 0
41번째 회원이 열람된 수 : 5
42번째 회원이 열람된 수 : 0
43번째 회원이 열람된 수 : 4
44번째 회원이 열람된 수 : 0
45번째 회원이 열람된 수 : 1
46번째 회원이 열람된 수 : 4
47번째 회원이 열람된 수 : 0
48번째 회원이 열람된 수 : 0
49번째 회원이 열람된 수 : 1
50번째 회원이 열람된 수 : 7
51번째 회원이 열람된 수 : 26
52번째 회원이 열람된 수 : 39
53번째 회원이 열람된 수 : 8
54번째 회원이 열람된 수 : 0
55번째 회원이 열람된 수 : 8
56번째 회원이 열람된 수 : 0
57번째 회원이 열람된 수 : 0
58번째 회원이 열람된 수 : 40
59번째 회원이 열람된 수 : 0
60번째 회원이 열람된 수 : 21
61번째 회원이 열람된 수 : 8
62번째 회원이 열람된 수 : 2
63번째 회원이 열람된 수 : 7
64번째 회원이 열람된 수 : 3
65번째 회원이 열람된 수 : 3
66번째 회원이 열람된 수 : 0
67번째 회원이 열람된 수 : 0
68번째 회원이 열람된 수 : 3
69번째 회원이 열람된 수 : 0
70번째 회원이 열람된 수 : 1
71번째 회원이 열람된 수 : 6
72번째 회원이 열람된 수 : 54
73번째 회원이 열람된 수 : 0
74번째 회원이 열람된 수 : 7
75번째 회원이 열람된 수 : 3
76번째 회원이 열람된 수 : 3
77번째 회원이 열람된 수 : 0
78번째 회원이 열람된 수 : 0
79번째 회원이 열람된 수 : 0
80번째 회원이 열람된 수 : 3
81번째 회원이 열람된 수 : 31
82번째 회원이 열람된 수 : 0
83번째 회원이 열람된 수 : 0
84번째 회원이 열람된 수 : 3
85번째 회원이 열람된 수 : 0
86번째 회원이 열람된 수 : 0
87번째 회원이 열람된 수 : 0
88번째 회원이 열람된 수 : 0
89번째 회원이 열람된 수 : 0
90번째 회원이 열람된 수 : 0
91번째 회원이 열람된 수 : 32
92번째 회원이 열람된 수 : 5
93번째 회원이 열람된 수 : 0
94번째 회원이 열람된 수 : 28
95번째 회원이 열람된 수 : 23
96번째 회원이 열람된 수 : 6
97번째 회원이 열람된 수 : 0
98번째 회원이 열람된 수 : 3
99번째 회원이 열람된 수 : 9
100번째 회원이 열람된 수 : 4
101번째 회원이 열람된 수 : 0
102번째 회원이 열람된 수 : 4
103번째 회원이 열람된 수 : 6
104번째 회원이 열람된 수 : 0
105번째 회원이 열람된 수 : 8
106번째 회원이 열람된 수 : 0
107번째 회원이 열람된 수 : 0
108번째 회원이 열람된 수 : 0
109번째 회원이 열람된 수 : 0
110번째 회원이 열람된 수 : 0
111번째 회원이 열람된 수 : 0
112번째 회원이 열람된 수 : 0
113번째 회원이 열람된 수 : 0
114번째 회원이 열람된 수 : 11
115번째 회원이 열람된 수 : 0
116번째 회원이 열람된 수 : 8
117번째 회원이 열람된 수 : 0
118번째 회원이 열람된 수 : 4
119번째 회원이 열람된 수 : 0
120번째 회원이 열람된 수 : 2
121번째 회원이 열람된 수 : 1
122번째 회원이 열람된 수 : 0
123번째 회원이 열람된 수 : 2
124번째 회원이 열람된 수 : 0
125번째 회원이 열람된 수 : 3
126번째 회원이 열람된 수 : 0
127번째 회원이 열람된 수 : 0
128번째 회원이 열람된 수 : 6
129번째 회원이 열람된 수 : 3
130번째 회원이 열람된 수 : 0
131번째 회원이 열람된 수 : 0
132번째 회원이 열람된 수 : 2
133번째 회원이 열람된 수 : 0
134번째 회원이 열람된 수 : 3
135번째 회원이 열람된 수 : 0
136번째 회원이 열람된 수 : 0
137번째 회원이 열람된 수 : 0
138번째 회원이 열람된 수 : 0
139번째 회원이 열람된 수 : 0
140번째 회원이 열람된 수 : 50
141번째 회원이 열람된 수 : 0
142번째 회원이 열람된 수 : 1
143번째 회원이 열람된 수 : 0
144번째 회원이 열람된 수 : 0
145번째 회원이 열람된 수 : 0
146번째 회원이 열람된 수 : 0
147번째 회원이 열람된 수 : 0
148번째 회원이 열람된 수 : 2
149번째 회원이 열람된 수 : 0
150번째 회원이 열람된 수 : 0
151번째 회원이 열람된 수 : 0
152번째 회원이 열람된 수 : 0
153번째 회원이 열람된 수 : 32
154번째 회원이 열람된 수 : 0
155번째 회원이 열람된 수 : 2
156번째 회원이 열람된 수 : 1
157번째 회원이 열람된 수 : 4
158번째 회원이 열람된 수 : 2
159번째 회원이 열람된 수 : 6
160번째 회원이 열람된 수 : 0
161번째 회원이 열람된 수 : 37
162번째 회원이 열람된 수 : 2
163번째 회원이 열람된 수 : 6
164번째 회원이 열람된 수 : 4
165번째 회원이 열람된 수 : 2
166번째 회원이 열람된 수 : 4
167번째 회원이 열람된 수 : 0
168번째 회원이 열람된 수 : 3
169번째 회원이 열람된 수 : 0
170번째 회원이 열람된 수 : 0
171번째 회원이 열람된 수 : 0
172번째 회원이 열람된 수 : 0
173번째 회원이 열람된 수 : 5
174번째 회원이 열람된 수 : 1
175번째 회원이 열람된 수 : 2
176번째 회원이 열람된 수 : 2
177번째 회원이 열람된 수 : 0
178번째 회원이 열람된 수 : 0
179번째 회원이 열람된 수 : 0
180번째 회원이 열람된 수 : 4
181번째 회원이 열람된 수 : 2
182번째 회원이 열람된 수 : 0
183번째 회원이 열람된 수 : 13
184번째 회원이 열람된 수 : 24
185번째 회원이 열람된 수 : 0
186번째 회원이 열람된 수 : 5
187번째 회원이 열람된 수 : 0
188번째 회원이 열람된 수 : 0
189번째 회원이 열람된 수 : 4
190번째 회원이 열람된 수 : 0
191번째 회원이 열람된 수 : 5
192번째 회원이 열람된 수 : 0
193번째 회원이 열람된 수 : 0
194번째 회원이 열람된 수 : 0
195번째 회원이 열람된 수 : 0
196번째 회원이 열람된 수 : 0
197번째 회원이 열람된 수 : 0
198번째 회원이 열람된 수 : 13
199번째 회원이 열람된 수 : 4
200번째 회원이 열람된 수 : 1
201번째 회원이 열람된 수 : 0
202번째 회원이 열람된 수 : 7
203번째 회원이 열람된 수 : 2
204번째 회원이 열람된 수 : 0
205번째 회원이 열람된 수 : 0
206번째 회원이 열람된 수 : 0
207번째 회원이 열람된 수 : 6
208번째 회원이 열람된 수 : 0
209번째 회원이 열람된 수 : 0
210번째 회원이 열람된 수 : 0
211번째 회원이 열람된 수 : 4
212번째 회원이 열람된 수 : 0
213번째 회원이 열람된 수 : 0
214번째 회원이 열람된 수 : 2
215번째 회원이 열람된 수 : 9
216번째 회원이 열람된 수 : 3
217번째 회원이 열람된 수 : 7
218번째 회원이 열람된 수 : 5
219번째 회원이 열람된 수 : 0
220번째 회원이 열람된 수 : 0
221번째 회원이 열람된 수 : 0
222번째 회원이 열람된 수 : 0
223번째 회원이 열람된 수 : 0
224번째 회원이 열람된 수 : 4
225번째 회원이 열람된 수 : 0
226번째 회원이 열람된 수 : 2
227번째 회원이 열람된 수 : 1
228번째 회원이 열람된 수 : 1
229번째 회원이 열람된 수 : 30
230번째 회원이 열람된 수 : 0
231번째 회원이 열람된 수 : 0
232번째 회원이 열람된 수 : 0
233번째 회원이 열람된 수 : 3
234번째 회원이 열람된 수 : 3
235번째 회원이 열람된 수 : 29
236번째 회원이 열람된 수 : 5
237번째 회원이 열람된 수 : 1
238번째 회원이 열람된 수 : 0
239번째 회원이 열람된 수 : 45
240번째 회원이 열람된 수 : 0
241번째 회원이 열람된 수 : 1
242번째 회원이 열람된 수 : 0
243번째 회원이 열람된 수 : 7
244번째 회원이 열람된 수 : 7
245번째 회원이 열람된 수 : 0
246번째 회원이 열람된 수 : 0
247번째 회원이 열람된 수 : 0
248번째 회원이 열람된 수 : 0
249번째 회원이 열람된 수 : 5
250번째 회원이 열람된 수 : 0
251번째 회원이 열람된 수 : 0
252번째 회원이 열람된 수 : 3
253번째 회원이 열람된 수 : 2
254번째 회원이 열람된 수 : 9
255번째 회원이 열람된 수 : 5
256번째 회원이 열람된 수 : 6
257번째 회원이 열람된 수 : 1
258번째 회원이 열람된 수 : 9
259번째 회원이 열람된 수 : 0
260번째 회원이 열람된 수 : 2
261번째 회원이 열람된 수 : 3
262번째 회원이 열람된 수 : 4
263번째 회원이 열람된 수 : 0
264번째 회원이 열람된 수 : 0
265번째 회원이 열람된 수 : 0
266번째 회원이 열람된 수 : 11
267번째 회원이 열람된 수 : 5
268번째 회원이 열람된 수 : 4
269번째 회원이 열람된 수 : 0
270번째 회원이 열람된 수 : 2
271번째 회원이 열람된 수 : 0
272번째 회원이 열람된 수 : 0
273번째 회원이 열람된 수 : 5
274번째 회원이 열람된 수 : 0
275번째 회원이 열람된 수 : 0
276번째 회원이 열람된 수 : 0
277번째 회원이 열람된 수 : 0
278번째 회원이 열람된 수 : 4
279번째 회원이 열람된 수 : 0
280번째 회원이 열람된 수 : 0
281번째 회원이 열람된 수 : 33
282번째 회원이 열람된 수 : 0
283번째 회원이 열람된 수 : 7
284번째 회원이 열람된 수 : 0
285번째 회원이 열람된 수 : 0
286번째 회원이 열람된 수 : 1
287번째 회원이 열람된 수 : 3
288번째 회원이 열람된 수 : 5
289번째 회원이 열람된 수 : 0
290번째 회원이 열람된 수 : 0
291번째 회원이 열람된 수 : 5
292번째 회원이 열람된 수 : 0
293번째 회원이 열람된 수 : 0
294번째 회원이 열람된 수 : 0
295번째 회원이 열람된 수 : 0
296번째 회원이 열람된 수 : 0
297번째 회원이 열람된 수 : 0
298번째 회원이 열람된 수 : 0
299번째 회원이 열람된 수 : 0
300번째 회원이 열람된 수 : 0
301번째 회원이 열람된 수 : 0
302번째 회원이 열람된 수 : 0
303번째 회원이 열람된 수 : 0
304번째 회원이 열람된 수 : 0
305번째 회원이 열람된 수 : 1
306번째 회원이 열람된 수 : 0
307번째 회원이 열람된 수 : 0
308번째 회원이 열람된 수 : 0
309번째 회원이 열람된 수 : 0
310번째 회원이 열람된 수 : 1
311번째 회원이 열람된 수 : 0
312번째 회원이 열람된 수 : 0
313번째 회원이 열람된 수 : 0
314번째 회원이 열람된 수 : 0
315번째 회원이 열람된 수 : 0
316번째 회원이 열람된 수 : 0
317번째 회원이 열람된 수 : 0
318번째 회원이 열람된 수 : 0
319번째 회원이 열람된 수 : 0
320번째 회원이 열람된 수 : 0
321번째 회원이 열람된 수 : 0
322번째 회원이 열람된 수 : 0
323번째 회원이 열람된 수 : 1
324번째 회원이 열람된 수 : 0
325번째 회원이 열람된 수 : 0
326번째 회원이 열람된 수 : 0
327번째 회원이 열람된 수 : 0
328번째 회원이 열람된 수 : 0
329번째 회원이 열람된 수 : 0
330번째 회원이 열람된 수 : 0
331번째 회원이 열람된 수 : 0
332번째 회원이 열람된 수 : 0
333번째 회원이 열람된 수 : 0
334번째 회원이 열람된 수 : 0
335번째 회원이 열람된 수 : 0
336번째 회원이 열람된 수 : 0
337번째 회원이 열람된 수 : 0
338번째 회원이 열람된 수 : 0
339번째 회원이 열람된 수 : 0
340번째 회원이 열람된 수 : 0
341번째 회원이 열람된 수 : 0
342번째 회원이 열람된 수 : 0
343번째 회원이 열람된 수 : 0
344번째 회원이 열람된 수 : 0
345번째 회원이 열람된 수 : 0
346번째 회원이 열람된 수 : 0
347번째 회원이 열람된 수 : 0
348번째 회원이 열람된 수 : 0
349번째 회원이 열람된 수 : 0
350번째 회원이 열람된 수 : 0
351번째 회원이 열람된 수 : 0
352번째 회원이 열람된 수 : 0
353번째 회원이 열람된 수 : 0
354번째 회원이 열람된 수 : 0
355번째 회원이 열람된 수 : 0
356번째 회원이 열람된 수 : 0
357번째 회원이 열람된 수 : 0
358번째 회원이 열람된 수 : 0
359번째 회원이 열람된 수 : 0
360번째 회원이 열람된 수 : 0
361번째 회원이 열람된 수 : 0
362번째 회원이 열람된 수 : 0
363번째 회원이 열람된 수 : 0
364번째 회원이 열람된 수 : 0
365번째 회원이 열람된 수 : 0
366번째 회원이 열람된 수 : 0
367번째 회원이 열람된 수 : 0
368번째 회원이 열람된 수 : 0
369번째 회원이 열람된 수 : 0
370번째 회원이 열람된 수 : 0
371번째 회원이 열람된 수 : 0
372번째 회원이 열람된 수 : 0
373번째 회원이 열람된 수 : 0
374번째 회원이 열람된 수 : 0
375번째 회원이 열람된 수 : 0
376번째 회원이 열람된 수 : 0
377번째 회원이 열람된 수 : 0
378번째 회원이 열람된 수 : 0
379번째 회원이 열람된 수 : 0
380번째 회원이 열람된 수 : 0
381번째 회원이 열람된 수 : 0
382번째 회원이 열람된 수 : 0
383번째 회원이 열람된 수 : 0
384번째 회원이 열람된 수 : 0
385번째 회원이 열람된 수 : 0
386번째 회원이 열람된 수 : 0
387번째 회원이 열람된 수 : 0
388번째 회원이 열람된 수 : 0
389번째 회원이 열람된 수 : 0
390번째 회원이 열람된 수 : 0
391번째 회원이 열람된 수 : 0
392번째 회원이 열람된 수 : 0
393번째 회원이 열람된 수 : 0
394번째 회원이 열람된 수 : 0
395번째 회원이 열람된 수 : 0
396번째 회원이 열람된 수 : 0
397번째 회원이 열람된 수 : 0
398번째 회원이 열람된 수 : 0
399번째 회원이 열람된 수 : 0
400번째 회원이 열람된 수 : 0
401번째 회원이 열람된 수 : 0
402번째 회원이 열람된 수 : 0
403번째 회원이 열람된 수 : 0
404번째 회원이 열람된 수 : 0
405번째 회원이 열람된 수 : 0
406번째 회원이 열람된 수 : 0
407번째 회원이 열람된 수 : 0
408번째 회원이 열람된 수 : 0
409번째 회원이 열람된 수 : 0
410번째 회원이 열람된 수 : 0
411번째 회원이 열람된 수 : 0
412번째 회원이 열람된 수 : 0
413번째 회원이 열람된 수 : 0
414번째 회원이 열람된 수 : 0
415번째 회원이 열람된 수 : 0
416번째 회원이 열람된 수 : 0
417번째 회원이 열람된 수 : 0
418번째 회원이 열람된 수 : 0
419번째 회원이 열람된 수 : 0
420번째 회원이 열람된 수 : 0
421번째 회원이 열람된 수 : 0
422번째 회원이 열람된 수 : 0
423번째 회원이 열람된 수 : 0
424번째 회원이 열람된 수 : 0
425번째 회원이 열람된 수 : 0
426번째 회원이 열람된 수 : 0
427번째 회원이 열람된 수 : 0
428번째 회원이 열람된 수 : 0
429번째 회원이 열람된 수 : 0
430번째 회원이 열람된 수 : 0
431번째 회원이 열람된 수 : 0
432번째 회원이 열람된 수 : 0

,mem_no,mem_sex,age,mem_loc,mate_salary,view_list,view_count,viewed_list
0,1690114,f,47,b,3,"[1782006, 5, 400778, 1814490]",4,"[[1834157, 1814490, 1782006, 1790807, 1752219,..."
1,1046726,m,47,k,4,[],0,[[]]
2,1495084,m,33,b,2,"[1742714, 1817403, 1596208]",3,[[1817403]]
3,316646,m,46,e,1,[],0,[[]]
4,1817403,f,27,h,11,"[1055783, 1814702, 1797227, 643005, 1812143, 1...",34,"[[1797227, 1814702, 1812143, 1055783, 1778111,..."

In [15]:
property_df['viewed_list'] = property_df['viewed_list'].apply(lambda x : x[0])
property_df['viewed_count'] =  property_df['viewed_list'].apply(lambda x : len(x))
property_df.head()

,mem_no,mem_sex,age,mem_loc,mate_salary,view_list,view_count,viewed_list,viewed_count
0,1690114,f,47,b,3,"[1782006, 5, 400778, 1814490]",4,"[1834157, 1814490, 1782006, 1790807, 1752219, ...",6
1,1046726,m,47,k,4,[],0,[],0
2,1495084,m,33,b,2,"[1742714, 1817403, 1596208]",3,[1817403],1
3,316646,m,46,e,1,[],0,[],0
4,1817403,f,27,h,11,"[1055783, 1814702, 1797227, 643005, 1812143, 1...",34,"[1797227, 1814702, 1812143, 1055783, 1778111, ...",22

In [16]:
# 유저 x = 1814490, y=1681380

In [17]:
# 유저 1681380 후보 유저 y 일 때
# y에게 메시지를 보낸 유저 집합 u는
sent_to_y = property_df[property_df['mem_no']==1681380]['viewed_list'].values[0]
# sent_to_y

In [18]:
# x와 u의 유사도 similarity
u_1_refrom = property_df[property_df['mem_no']==sent_to_y[0]]['view_list'].values[0]
x_refrom = property_df[property_df['mem_no']==1814490]['view_list'].values[0]

In [19]:
# 교집합
print(list(set(u_1_refrom) & set(x_refrom)))
# 합집합
print(list(set(u_1_refrom) | set(x_refrom)))

[1776128, 1681380, 1701065, 1803565, 1808912, 1632497, 1596208, 1798899, 1751412, 1819130, 1821404]
[1776128, 1690114, 1808912, 1742714, 1697955, 1792164, 1803565, 1596208, 1624498, 1744436, 1817403, 1728059, 1769669, 1701065, 1688393, 1821404, 1681380, 1632497, 1798899, 1751412, 1817843, 1819130]

In [20]:
# similarity
len(list(set(u_1_refrom) & set(x_refrom))) / len(list(set(u_1_refrom) | set(x_refrom)))

0.5

In [ ]:
# property_df = property_df[(property_df['viewed_count']!=0) & (property_df['view_count']!=0)]
# property_df.reset_index(drop=True, inplace=True)

#### score_x_y 구하기

In [ ]:
# 유저 x = 1814490, y=1681380

In [21]:
len(sent_to_y)

40

In [22]:
sent_to_y[36]

1834962

In [28]:
score_x_y = 0
# 집합 u에 대하여 반복
for i, u in enumerate(sent_to_y) :
    u_refrom = property_df[property_df['mem_no']==u]['view_list'].values[0]
    x_refrom = property_df[property_df['mem_no']==1817414]['view_list'].values[0]
    intersection = list(set(u_refrom) & set(x_refrom))
    union = list(set(u_refrom) | set(x_refrom))
    score_x_y += len(intersection) / len(union)
    print('score_x_y :',score_x_y)

score_x_y : 0.22727272727272727
score_x_y : 0.40909090909090906
score_x_y : 0.551948051948052
score_x_y : 0.676948051948052
score_x_y : 1.1055194805194806
score_x_y : 1.1721861471861472
score_x_y : 1.588852813852814
score_x_y : 1.688852813852814
score_x_y : 2.0046422875370244
score_x_y : 2.4137331966279336
score_x_y : 2.8254979025102864
score_x_y : 3.8254979025102864
score_x_y : 4.254069331081715
score_x_y : 4.526796603808988
score_x_y : 4.915685492697877
score_x_y : 5.1262118084873505
score_x_y : 5.6262118084873505
score_x_y : 5.737322919598461
score_x_y : 5.799822919598461
score_x_y : 6.220875551177409
score_x_y : 6.554208884510742
score_x_y : 6.929208884510742
score_x_y : 7.029208884510742
score_x_y : 7.292366779247584
score_x_y : 7.7271493879432365
score_x_y : 7.814105909682367
score_x_y : 8.064105909682368
score_x_y : 8.518651364227823
score_x_y : 8.661508507084966
score_x_y : 8.851984697561155
score_x_y : 8.969631756384684
score_x_y : 9.146102344619978
score_x_y : 9.479435677953312
score_x_y : 9.79761749613513
score_x_y : 10.07761749613513
score_x_y : 10.423771342288976
score_x_y : 10.548771342288976
score_x_y : 10.901712518759565
score_x_y : 11.044569661616707
score_x_y : 11.18742680447385

#### score_y_x 구하기

In [30]:
# x에게 메시지를 보낸 유저 집합 v는
sent_to_x = property_df[property_df['mem_no']==1814490]['viewed_list'].values[0]
sent_to_x

[1702453,
 1701065,
 1744436,
 1681380,
 1632497,
 1697955,
 1808912,
 1816819,
 1828300,
 1688393,
 1690114]

In [38]:
score_y_x = 0
# 집합 v에 대하여 반복
for v in sent_to_x :
    v_refrom = property_df[property_df['mem_no']==v]['view_list'].values[0]
    y_refrom = property_df[property_df['mem_no']==1681380]['view_list'].values[0]
    intersection = list(set(v_refrom) & set(y_refrom))
    union = list(set(v_refrom) | set(y_refrom))
    score_y_x += len(intersection) / len(union)
    print('score_y_x :',score_y_x)

score_y_x : 0.45652173913043476
score_y_x : 0.49907493061979646
score_y_x : 0.8601860417309075
score_y_x : 1.8601860417309075
score_y_x : 2.0083341898790557
score_y_x : 2.4648559290094902
score_y_x : 2.5417790059325673
score_y_x : 2.6355290059325673
score_y_x : 2.6980290059325673
score_y_x : 2.8542790059325673
score_y_x : 2.9577272817946363

In [39]:
# 조화평균 2ab / a+b
(2 * score_x_y * score_y_x) / (score_x_y + score_y_x)

5.043282554637359

## correlation based explanation method

In [43]:
# 유저 x = 1814490, y=1681380

In [45]:
m = property_df[property_df['mem_no']==1814490]['view_list'].values[0]

In [50]:
property_df[property_df['mem_no'].isin(m)][['mem_no','mem_sex','age','mem_loc','mate_salary']]

      mem_no mem_sex  age mem_loc  mate_salary
0    1690114       f   47       b            3
17   1596208       f   36       i            0
25   1688393       f   47       i            9
30   1701065       f   36       i            2
51   1776128       f   44       i            2
52   1728059       f   45       a            0
58   1681380       f   46       i            0
60   1744436       f   53       b            6
81   1808912       f   42       i            0
91   1792164       f   49       j            3
94   1697955       f   48       b            2
95   1624498       f   51       i            0
140  1632497       f   45       d            0
153  1819130       f   32       f            0
161  1803565       f   47       i            0
184  1817843       f   51       k            1
229  1798899       f   39       i            2
235  1751412       f   41       c            3
239  1821404       f   37       i            4
281  1769669       f   43       i            0

In [77]:
temp = property_df[property_df['mem_no'].isin(m)][['mem_no','mem_sex','age','mem_loc','mate_salary']]
temp = pd.get_dummies(temp[['age', 'mem_loc', 'mate_salary']])
temp['result'] = 1

In [86]:
temp_0 = property_df[(property_df['mem_sex']=='f') & (property_df['age']<=50)].sample(20, random_state=5)
temp_0=  pd.get_dummies(temp_0[['age','mem_loc','mate_salary']])
temp_0['result'] = 0

In [87]:
temp = pd.concat([temp, temp_0])
temp.fillna(0, inplace=True)

In [88]:
property_df[property_df['mem_no']==1814490]

,mem_no,mem_sex,age,mem_loc,mate_salary,view_list,view_count,viewed_list,viewed_count
114,1814490,m,46,b,9,"[1744436, 1681380, 1632497, 1803565, 1808912, ...",20,"[1702453, 1701065, 1744436, 1681380, 1632497, ...",11

In [89]:
temp.corr()

,age,mate_salary,mem_loc_a,mem_loc_b,mem_loc_c,mem_loc_d,mem_loc_f,mem_loc_i,mem_loc_j,mem_loc_k,result,mem_loc_e,mem_loc_n,mem_loc_p
age,1.000000,0.219342,0.077650,0.123869,-0.018372,0.129820,-0.265699,-0.173482,0.183295,0.184034,0.285303,-0.344933,0.137325,-0.080819
mate_salary,0.219342,1.000000,-0.109479,0.289973,0.111635,0.054963,-0.109479,-0.197339,0.112438,-0.150009,0.156432,-0.035507,-0.062795,0.112438
mem_loc_a,0.077650,-0.109479,1.000000,-0.071429,-0.036092,-0.029161,-0.020408,-0.137253,-0.020408,-0.036092,0.174964,-0.020408,-0.036092,-0.020408
mem_loc_b,0.123869,0.289973,-0.071429,1.000000,-0.126323,-0.102062,-0.071429,-0.480384,-0.071429,-0.126323,-0.102062,-0.071429,-0.126323,-0.071429
mem_loc_c,-0.018372,0.111635,-0.036092,-0.126323,1.000000,-0.051571,-0.036092,-0.242734,-0.036092,-0.063830,-0.034381,-0.036092,-0.063830,-0.036092
mem_loc_d,0.129820,0.054963,-0.029161,-0.102062,-0.051571,1.000000,-0.029161,-0.196116,-0.029161,-0.051571,0.041667,-0.029161,-0.051571,-0.029161
mem_loc_f,-0.265699,-0.109479,-0.020408,-0.071429,-0.036092,-0.029161,1.000000,-0.137253,-0.020408,-0.036092,0.174964,-0.020408,-0.036092,-0.020408
mem_loc_i,-0.173482,-0.197339,-0.137253,-0.480384,-0.242734,-0.196116,-0.137253,1.000000,-0.137253,-0.242734,0.114401,-0.137253,-0.242734,-0.137253
mem_loc_j,0.183295,0.112438,-0.020408,-0.071429,-0.036092,-0.029161,-0.020408,-0.137253,1.000000,-0.036092,0.174964,-0.020408,-0.036092,-0.020408
mem_loc_k,0.184034,-0.150009,-0.036092,-0.126323,-0.063830,-0.051571,-0.036092,-0.242734,-0.036092,1.000000,-0.034381,-0.036092,-0.063830,-0.036092
result,0.285303,0.156432,0.174964,-0.102062,-0.034381,0.041667,0.174964,0.114401,0.174964,-0.034381,1.000000,-0.116642,-0.206284,-0.116642
mem_loc_e,-0.344933,-0.035507,-0.020408,-0.071429,-0.036092,-0.029161,-0.020408,-0.137253,-0.020408,-0.036092,-0.116642,1.000000,-0.036092,-0.020408
mem_loc_n,0.137325,-0.062795,-0.036092,-0.126323,-0.063830,-0.051571,-0.036092,-0.242734,-0.036092,-0.063830,-0.206284,-0.036092,1.000000,-0.036092
mem_loc_p,-0.080819,0.112438,-0.020408,-0.071429,-0.036092,-0.029161,-0.020408,-0.137253,-0.020408,-0.036092,-0.116642,-0.020408,-0.036092,1.000000